<!DOCTYPE html>
<html lang="en">
<head>
  <title>LUMINIA</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
</head>
<body style="background-color:rgb(56,52,46);">

  <div class="navbar">
    <a href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#sale">Sale</a>
    <div class="dropdown">
      <button class="dropbtn">Dropdown 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
      
    </div>

       <div class="dropdown">
        <button class="dropbtn">About Us
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Our Vision</a>
          <a href="#">Contact Us</a>
          <a href="#">Terms And Conditions</a>
          <a href="#">Privacy Policy</a>
        </div> 
      </div>

      <div id="home" class="home-section">
        <!-- Video in Endlosschleife -->
        <video autoplay loop muted playsinline>
          <source src="C:\Users\hewin\OneDrive\Desktop\855854-hd_1920_1080_24fps.mp4" type="video/mp4">
          Dein Browser unterstützt dieses Video-Format nicht.
        </video>
      </div>

  </div>
  
  <h1 style="color:lightgray;text-align:center;font-size:300%">LUMINIA</h1>
  <h2 style="color:lightgray;text-align:center;font-size:200%">Who Are We?</h2>
  <p style="color:lightgray;text-align:center;font-size:160%">At LUMINIA, we believe that true beauty comes from within, and like the radiant<br>
    beams of light that pierce through darkness, every soul has the power to shine.<br>
    The name LUMINIA is inspired by the brilliance of light- symbolizing confidence,<br>
    strenght, and the timeless glow that resides in each of us.<br>
  </p>
  <img src="C:\Users\hewin\OneDrive\Desktop\Luminia\99660FB9-054E-4CE9-804B-074C14B3099B.png" style="width:100%;"> 
  <p style="color:lightgray;text-align:center;font-size:160%">Our jewelry is more than an adornment; it is a reflection of the inner radiance<br>
    that deserves to be seen. Every piece is crafted to illuminate the essence of the <br>
    wearer, enhancing not just their appearance but the way they feel- <br>
    elevated, empowered, and effortlessly elegant.<br>
  </p>
  <img src="C:\Users\hewin\OneDrive\Desktop\Luminia\2332618F-344C-4CE1-AC86-974CF75CFB4D.png" style="width:100%;"> 
  <p style="color:lightgray;text-align:center;font-size:160%">We exist to awaken the brilliance within you, to remind you that you <br>
    are already luminous. With LUMINIA, you don`t just wear jewelry- you embrace<br>
    the light that has always been yours.<br>
  </p>
  <img src="C:\Users\hewin\OneDrive\Desktop\Luminia\C3F0804E-5742-4C07-837E-74A68E825ECA.png" style="width:100%;"> 
  <p style="color:lightgray;text-align:center;font-size:160%">Shine unapologetically. Glow infinitely.</p><br>
</body>
</html>